@font-face {
    font-family: Montserrat-Hairline;
    src: url("../fonts/Montserrat-Hairline.otf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url("../fonts/Montserrat-UltraLight.otf");
}


body{
	background-color: #f1f1f1;
	margin: 0px;
	padding: 0px;
	font-family: 
    font: 14px Montserrat-Hairline, helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    height: 500px;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.directedGraphDisplay{
    border: 1px solid #333; 
    display:block; 
    background-color:#fff;
    margin: 5px;

}